.signIn{
    height: 75px;
    margin: 5px;
    display: flex;
}

.leftAlign{
    flex-grow: 2;
}

.signInCont{
    flex-grow: 0.3;
}
.accLog{
    float: left;
}

.signInText{
    top: 13px;
    font-size: 20px; 
    position: relative;
    font-weight: bold;
}