.MAINPAGE{
    margin: 0px;
}

.SignInPage{
    width: 650px;
    margin: auto;
    margin-top: 180px;
    /*You just have to find the correct Div to margin-top*/
    /*position: absolute; 
  left: 0; 
  right: 0; 
  top: 175px;
  margin-left: auto; 
  margin-right: auto;*/
}
.SignInBox{
    border: 2px solid red;
    background-color: red;
    height: 375px;
}

label{
    display: block;
    text-align: center;
    height: 50px;
    margin-top: 20px;
    line-height: 50px;
    color: white;
    font-size: 25px;
}

.infoInput {
    border: none;
   display: block;
   margin: 0 auto;
   width: 500px;
   height: 37px;
}

.SubmitInfo{
    border: none;
    background-color: yellow;
    margin: 0 auto;
    margin-top: 50px;
    width: 100px;
    height: 40px;
    font-size: 18px;
    display: block;
    cursor: pointer;
}

.switchForm{
    border: none;
    margin: 0 auto;
    margin-top: 25px;
    display: block;
    color: white;
    background-color: red;
    cursor: pointer;
}