.DetailReview{
    width: 1200px;
    margin: auto;
}
.ReviewTitle{
    margin: auto;
    margin-top: 190px;
    font-weight: bold;
    width: 800px;
    margin-bottom: 30px;
}
.OveralPanel{
    margin: auto;
    width: 800px;
    height: 240px;
    margin-bottom: 25px;
     background-size: 500px;
     background-repeat: no-repeat;
     background-image: url(../../Designs_and_Flow/basic_designs/OverallSummary.png);
}
.OveralSummaryTitle{
    padding-top: 5px;
    margin-left: 15px;
    font-size: 23px;
    color: white;
}
.OveralSummaryBody{
    font-size: 19px;
    width: 440px;
    margin-top: 25px;
    margin-left: 40px;
    color: white;
}

@media screen and (max-width:  1200px){
    .DetailReview{
        width: 800px;
        margin: auto;
    }
    .ReviewTitle{
        margin: auto;
        margin-top: 190px;
        font-weight: bold;
        width: 600px;
        margin-bottom: 30px;
    }
    .OveralPanel{
        margin: auto;
        width: 600px;
        height: 240px;
        margin-bottom: 25px;
         background-size: 500px;
         background-repeat: no-repeat;
         background-image: url(../../Designs_and_Flow/basic_designs/OverallSummary.png);
    }
}

@media screen and (max-width:  805px){
    .DetailReview{
        width: 100%;
        margin: auto;
    }
    .ReviewTitle{
        width: calc(100% - 25px);
    }
    .OveralPanel{
       width: calc(100% - 25px);
    }
}

@media screen and (max-width: 535px){
    .OveralPanel{
        background-size: 365px;
        margin-bottom: -30px;
    }

    .OveralSummaryBody{
        margin-top: -10px;
        margin-left: 25px;
        width: 330px;
        font-size: 17px;
    }
}