.DetailReview{
    width: 1200px;
    margin: auto;
}
.ReviewTitle{
    margin: auto;
    margin-top: 190px;
    font-weight: bold;
    width: 800px;
    /*border: 2px solid black;*/
    margin-bottom: 30px;
}
.OveralPanel{
    margin: auto;
    width: 800px;
    height: 240px;
    margin-bottom: 25px;
    /*border: 2px solid black;*/
     /*all children will flex */
     /* display: flex;
     flex-wrap: nowrap; */
     background-size: 500px;
     background-repeat: no-repeat;
     background-image: url(../../Designs_and_Flow/basic_designs/OverallSummary.png);
}
.OveralSummaryTitle{
    padding-top: 5px;
    margin-left: 15px;
    font-size: 23px;
    color: white;
}
.OveralSummaryBody{
    /*border: 2px solid black;*/
    font-size: 19px;
    width: 440px;
    margin-top: 25px;
    margin-left: 40px;
    color: white;
}
/*.RightAdPanel{
    border: 2px solid black;
    /*flex-grow: 1;
}*/

@media screen and (max-width:  415px){
    .leftAdPanel{
        border: 2px solid black;
        flex-grow: 0.1;
        display: none;
    }

    .RightAdPanel{
        border: 2px solid black;
        flex-grow: 0.1;
        display: none;
    }
}