.ReviewSubSection{
    margin: 5px;
}

.ReviewSubsectionEntry{
    margin: 5px;
}

.ReviewSectionDividerAsset{
    width: calc(100% + 15px);
    margin-left: -10px;
}

.ReviewSectionEntryTitle{
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 13px;
}
.ReviewSectionEntryBody{
    /*border: 2px solid black;*/
    width: calc(100% - 50px);
    margin-left: 13px;
    font-size: 17px;
}

.RSSMob{
    display: none;
}

/* @media screen and (max-width:  805px){
    .RSSMob{
        display: block;
    }

    .ReviewSubSection{
        display: none;
    }
} */