.search{
    /*border: 2px solid black;*/
    /*height: 10px;*/
    margin: 5px;
    /*min-height: 200px;*/
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.SearchLog{
  /*border: 2px solid black;*/
    float: left;
}

input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    border-bottom: 2px solid black;
    position: relative;
    top: 12px;
    left: -14px;
    /*border: 2px solid black;*/
}

::placeholder{
    color: black;
    font-weight: bold;
}

input:focus{
    outline: none;
}

.searchList{
    /*border: 2px solid black;*/
    background-color: black;
    height: 147px;
    width: 206px;
    /*background-image: url(../../Designs_and_Flow/basic_designs/search_Tab.png);*/
    /*background-size: 400px 200px;
    background-repeat: no-repeat;*/
}

.searchListEle{
    /*border: 2px solid black;*/
    list-style: none;
    border-bottom: 1px solid white;
    margin: 10px;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.searchListEle:hover{
    font-size: 18px;
}

@media screen and (max-width: 1000px){
.search{
        /*border: 2px solid black;*/
        height: 52px;
        margin: 5px;
    }
}

@media screen and (max-width: 415px){
    .search{
            border: 2px solid black;
            height: 32px;
        }
    }