.search{
    margin: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.SearchLog{
    float: left;
}

input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    border-bottom: 2px solid black;
    position: relative;
    top: 12px;
    left: -14px;
}

::placeholder{
    color: black;
    font-weight: bold;
}

input:focus{
    outline: none;
}

.searchList{
    background-color: black;
    height: 147px;
    width: 206px;
}

.searchListEle{
    list-style: none;
    border-bottom: 1px solid white;
    margin: 10px;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.searchListEle:hover{
    font-size: 18px;
}

@media screen and (max-width: 1000px){
.search{
        height: 52px;
        margin: 5px;
    }
}

@media screen and (max-width: 415px){
    .search{
            border: 2px solid black;
            height: 32px;
        }
    }