.search{
    margin: 5px;
    position: relative;
    overflow: hidden;
    float: right;
    margin-top: -13px;
    width: 240px;
}

.SearchLog{
    position: absolute;
    top: 18px;
    left: -6px;
}

.searchIn{
    border-radius: 5px 0px 5px 0px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    border-bottom: 2px solid black;
    margin-top: 30px;
    float: right;
}

::placeholder{
    color: black;
    font-weight: bold;
}

.searchIn:focus{
    outline: none;
}

.searchList{
    background-color: black;
    width: 170px;
    margin-top: 0px;
    float: right;
    clear: right;
}

.searchListEle{
    list-style: none;
    border-bottom: 1px solid white;
    margin: 10px;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.searchListEle:hover{
    font-size: 18px;
}

@media screen and (max-width: 1000px){
.search{
        margin-top: -13px;
    }
}

@media screen and (max-width: 621px){
    .search{
        margin-top: -18px;
        width: 180px;
    }
    .searchIn{
      width: 175px;
    }
    .SearchLog{
        display: none;
    }
}