.ReviewParticle{
    /*border: 2px solid black;*/
    display: flex;
    margin-top: 25px;
}
.ReviewParticleImage{
    /*border: 2px solid black;*/
    background-color: red;
    height: 225px;
    width: 100%;
    flex-grow: 1;
}
.ReviewParticleText{
    /*border: 2px solid black;*/
    margin-left: 20px;
    flex-grow: 1;
    width: 100%;
}

.ParticleTitle{
    /*border: 2px solid black;*/
    margin: 0px;
    font-weight: bold;
}

.DynamicImage{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: solid red 2px;
}

.ReviewImageMobile{
    display: none;
}

@media screen and (max-width:  805px){
    .ReviewImageMobile{
        display: block;
        margin-bottom: 25px;
    }

    .ParticleTitle{
        margin-bottom: 20px;
    }

    .ReviewParticle{
        display: none;
    }

    .ReviewParticleImage{
        /*border: 2px solid black;*/
        background-color: red;
        margin: auto;
        height: 400px;
    }
}

@media screen and (max-width:  483px){
    .ReviewParticleImage{
        height: 250px;
    }
}