.reviewBody{
    /*border: 2px solid black;*/
    height: 275px;
    margin: 5px;
    /*all children will flex */
    display: flex;
    transition: all .3s ease-in-out;
}

.reviewBody:hover{
    transform: scale(1.03);
}
.reviewBodyLeftPanel{
    /*border: 2px solid black;*/
    height: 260px;
    flex-grow: 1;
    /*float: left;*/
    /*display: flex;*/
}

/*.dynamicImage{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: solid red 3px;
}*/

.leftReviewPanel{
    /*border: 2px solid black;*/
    margin: 5px;
    flex-grow: 1;
    width: 60px;
    display: flex;
}

.dynamicImage{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: solid red 2px;
}

.rightReviewPanel{
    /*border: 2px solid black;*/
    margin: 5px;
    flex-grow: 1;
}

.reviewStatus{
    border-bottom: 2px solid black;
    margin: 5px;
    height: 60px;
    display: flex;
}

.dateTime{
    /*border: 2px solid black;*/
    flex-grow: 1;
    width: 0px;
    font-weight: bold;
    margin-top: 20px;
}

.Icon{
    /*border: 2px solid black;*/
    flex-grow: 1;
    width: 0px;
}

.commentIcon{
    float: right;
    margin-top: 10px;
}

.numOfComments{
    float: right;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 3px;
}


@media screen and (max-width: 415px){
    .reviewBody{
        border: 2px solid black;
        height: 300px;
    }

    .reviewStatus{
        height: 45px;
    }

    .leftReviewPanel{
        display: none;
    }
    .leftReviewPanelmob{
        border: 2px solid black;
        margin: 5px;
        height: 170px;
    }
}