.flexBody{
    display: flex;
}

.bodyLeftPanel{
    margin-top: 270px;
    flex-grow: 1;
    position:relative; 
    overflow:hidden;
}

.sortPanel{
    float:left;
    background-repeat: no-repeat;
    background-size: 150px 165px; 
    width: 150px;
    height: 165px;
    transition-duration: 0.3s;
    position: fixed;
    cursor: pointer;
}

.sortPanel:hover{
    background-size: 153px 168px; 
    height: 168px;
    width: 153px;
}

.sortBy{
    color: white;
    margin-left: 25px;
    margin-top: 10px;
    width: 75px;
    font-weight: bold;
}

.sortByList{
    width: 77px;
}

.clickDiv{
    width: 25px;
    margin-top: -200px;
    height: 200px;
    float: right;
}

.sortByList li{
    border-bottom: 1px solid black;
    list-style: none;
    width: 100px;
    margin-top: 23px;
    margin-left: -25px;
    font-size: 17px;
    font-weight: bold;
}

.sortByList li:hover{
    font-size: 18px;
}

.bodyMiddlePanel{
    margin-top: 180px;
    flex-grow: 3;
}

.tabTitle{
    margin-left: 13px;
}

.bodyRightPanel{
    flex-grow: 1;
}

.bodyLeftPanelMob{
    display: none;
}

@media screen and (max-width: 990px){
    .flexBody{
        margin: auto;
    }

    .bodyLeftPanel{
        display: none;
    }

    .bodyLeftPanelMob{
        display: block;
        background-color: white;
        height: 50px;
        border-top: 25px solid red;
        position: fixed;
        width: 100%;
        bottom: 0px;
    }

    .bodyRightPanel{
        flex-grow: 0;
    }

    .bodyMiddlePanel{
        padding-top: 180px;
        margin: auto;
    }
    .Body{
        padding-bottom: 80px;
    }
    .sortByList{
        width: 400px;
        margin: auto;
    }

    .sortByList li{
        float: left;
        border: none;
        margin: 5px;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
    }
}

@media screen and (max-width: 621px){
    .bodyLeftPanel{
        display: none;
    }
    .bodyLeftPanelMob{
        display: block;
        background-color: white;
        height: 50px;
        border-top: 25px solid red;
        position: fixed;
        width: 100%;
        bottom: 0px;
    }

    .bodyMiddlePanel{
        padding-top: 180px;
        flex-grow: 0;
        margin: auto;
    }
    .sortByList{
        width: 400px;
        margin: auto;
    }

    .sortByList li{
        margin: 5px;
        float: left;
        border: none;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
    }
} 