.ReviewContainer{
    width: 800px;
    margin: auto;
}
.ReviewContainerTitle{
    font-weight: bold;
    margin: 0px;
    Font-size: 23px;
}
.ReviewSection{
    margin: 5px;
}

@media screen and (max-width:  990px){
    .ReviewContainer{
        width: 600px;
        margin: auto;
    }
}