.HEADER{
    display: flex;
    flex-wrap: nowrap;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../Designs_and_Flow/basic_designs/header_background.png);
    position: fixed;
    width: calc(100% - 16px);
    z-index: 1;
    transition-duration: 0.3s;
    height: 160px;
}

.HEADER:hover{
    height: 170px;
}

.headerLeftPanel{
    height: 160px;
    flex-grow: 3;
    display: flex;
    cursor: pointer;
}

.leftAlignHeader{
    flex-grow: 0.1;
}

.Logo img{
    flex-grow: 0.1;
    margin-top: 17px;
    transition-duration: 0.3s;
    height: 90px;
}

.Logo img:hover{
    border: 5px solid yellow;
    border-radius: 5px;
    height: 95px;
}

.HeaderText{
    margin-top: 75px;
    color: white;
    font-size: 20px;
    flex-grow: 2;
    transition-duration: 0.3s;
}

.headerRightPanel{
    height: 160px;
    flex-grow: 1;
}

@media screen and (max-width: 990px){
        .HEADER{
            margin: 0px;
            height: 160px;
            width: calc(100% - 16px);
        }
        .HEADER:hover{
            height: 160px;
        }
        .HeaderText{
            position: absolute;
            top: 30px;
            left: 40px;
            font-size: 16px;
        }
        .Logo img{
            margin-top: 20px;
            height: 75px;
        }
        .Logo img:hover{
            border: none;
            margin-top: 20px;
            height: 75px;
        }
        .leftAlignHeader{
            margin-left: -20px;
        }
}

@media screen and (max-width: 621px){
    .HeaderText{
        display: none;
    }

    .HEADER{
        height: 150px;
        width: 100%;
    }
    .HEADER:hover{
        height: 150px;
    }
    .Logo img:hover{
        border: none;
        margin-top: 30px;
        height: 75px;
    }
    .Logo img{
        margin-top: 30px;
        height: 75px;
        margin-left: 15px;
    }
} 