.commentSection{
    margin: 5px;
    width: 1150px;
    margin: auto;
}

.CommentSpread{
    margin: 5px;
}

@media screen and (max-width:  1200px){
    .commentSection{
        margin: 5px;
        width: 800px;
        margin: auto;
    }
}

@media screen and (max-width:  815px){
    .commentSection{
        width: 100%;
    }
}