.Comment{
    margin: 5px;
    width: 950px;
    margin-top: 20px;
}
.UserInfo{
    margin: 5px;
    height: 50px;
  
}

.CommentImage{
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(../../Designs_and_Flow/basic_designs/ParticleListBulletPointYellow.png);
    float: left;
    width: 50px;
}
.CommentName{
    margin-left: 25px;
    margin-top: 15px;
    float: left;
    font-size: 20px;
    font-weight: bold;
}
.CommentTime{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    float: right;
}

.CommentText{
    margin-left: 80px;
    clear: left;
    margin-top: 20px;
}
.UserScore{
    border: 2px solid black;
    margin: 5px;
}

@media screen and (max-width:  1200px){
    .Comment{
        width: 740px;
        margin: auto;
    }
}

@media screen and (max-width:  815px){
    .Comment{
        width: calc(100% - 40px);
        margin: auto;
    }
}